*{
	margin: 0;
	padding: 0;
}
.menu{
	width: 1170px;
	height: 42px;

}
.menu ul{
	list-style: none;	
} 
.menu ul li{
	float: left;
	margin-right: 1px;
	background-color: #8080807d;
}
.menu ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #4f299e;
	padding: 10px 10px;
	display: block;
}
.menu ul li:hover a{
	color: white;
	background-color: black;	
}
.khungbu{
	width: 1250px;
	height: 600px;
	border: 1px solid gray;
	margin: 50px;
}
.khung{
	width: 690px;
	height: 580px;
	float: left;
}
.khung:hover{
	transform: scale(1.1,1.1);
	
	box-shadow: 0 6px 6px 2px black;
}

.menu1{
	margin-left: 5px;
	width: 700px;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;	
}
.menu1 ul{
	list-style: none;
	
} 
.menu1 ul li{
	float: left;
	background-color: white;
}
.menu1 ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #4f299e;
	padding: 5px 10px;
	display: block;
}
.menu1 ul li:hover a{
	color: red;
	border-bottom: 1px solid pink;

}
.khunghinh{
	width: 360px;
	height: 220px;
	margin: 10px;
	overflow: hidden;
}
.hinh1{
	width: 360px;
	height: 220px;
	margin: 10px;
	transition: 1s;
}
.hinh1:hover{
	transform: scale(1.5);
	transition: 1s;
}
.khungtrong{
	width: 700px;
	height: 510px;

}
.khungnho{
	width: 360px;
	height: 150px;
}
.tieude{
	margin-left: 5px;
	text-decoration: none;
	font-size: 22px;
	color: blue;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tieude:hover{
	color: red;
}
.noidung{
	width: 360px;
	height: 62px;
}
.khungduoi{
	margin-left: 5px;
	width: 370px;
	height: 32px;
	border-bottom: 1px solid red;
	
}
p{
	margin-left: 5px;
}
.chunho{
	text-decoration: none;
	font-size: 16px;
	color: gray;
}
.chunho1{
	text-decoration: none;
	font-size: 16px;
	color: yellow;
}
.chunho:hover{
	color: red;
}
.gio{
	float: left;
	margin-right: 10px;
}
.thoisu{
	float: left;
	margin-right: 10px;
}
.luotxem{
	float: left;
}
.khungphai{
	width: 300px;
	height: 500px;
	float: left;
	margin-left: 30px;
}
.noidung1{
	width: 300px;
	height: 62px;
	margin-bottom: 10px;
}
.khungtrai{
	width: 360px;
	height: 520px;
	float: left;

}
.khungphaiduoi{
	width: 500px;
	height: 300px;
	margin-top:50px;

}
.h1{
	width: 160px;
	height: 108px;
}
.menu2{
	margin-left: 5px;
	width: 675px;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;	
}
.menu2 ul{
	list-style: none;
	
} 
.menu2 ul li{
	float: left;
	background-color: white;
	border-bottom: 1px solid pink;
}
.menu2 ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #4f299e;
	padding: 5px 10px;
	display: block;
}
.menu2 ul li:hover a{
	color: red;
	border-bottom: 1px solid pink;

}
.trai{
	padding:10px;
	border: 1px solid red;
	font-size: 30px;
	color:orange;
}

.phai{
	padding:10px;
	border: 1px solid red;
	font-size: 30px;
	color: orange;
}
.hinhchay{
	width: 155px;
	height: 94px;
}
.item{
	width: 155px;
	height: 146px;
	margin-left: 10px;
}
.khungtrenphai{
	width: 500px;
	height: 200px;
}
.khungphai1{
	width: 300px;
	height: 170px;
	border-bottom:  1px solid gray;
}